# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
.next/
out/

# Testing
coverage/
test-results/
playwright-report/
.lhci/

# Production
build/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
